.content{
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__item{
        position: relative;
    }
    &__img{
        height: 350px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__text{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        transition: 1s;
        color: transparent;
        font-weight: 600;
    }
    &__text:hover {
        font-weight: 600;
        color: seagreen;
    }
   
    &__logo img{
        width: 50%;
        margin-bottom: 20px;
    }
    
        
}